<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="ExtendReport.ExtentReportListener"/>
    </listeners>
  <test thread-count="5" name="TripCreate">
    <packages>
      <package name="ZipgoBeta.CreateTrip"/>
    </packages>
  </test> <!-- TripCreate -->
</suite> <!-- Suite -->
